.invi {
  display: none;
}

@media (min-width: 769px) {
  #home {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: linear-gradient(rgba(14, 66, 143, 0.7), rgba(37, 115, 234, 0.7), rgba(14, 66, 143, 0.7)), url("../../../assets/img/code.jpeg");
  }
  #home header {
    height: 10vh;
    background: rgba(0, 0, 0, 0.3);
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  #home header figure {
    display: grid;
    width: 6vw;
    height: 6vh;
    justify-content: left;
    align-item: left;
  }
  #home header figure img {
    width: 6vw;
    height: 6vh;
  }
  #home header nav {
    margin-top: 1rem;
    height: 10vh;
    justify-content: center;
    align-item: center;
    width: 80vw;
  }
  #home header nav ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style-type: none;
  }
  #home header nav ul li {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.2rem;
    color: white;
  }
  #home header nav ul li a {
    text-decoration: none;
  }
  #home header nav ul li a:visited {
    color: white;
  }
  #home header nav ul li a:hover {
    text-decoration: underline;
  }
  #home main {
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-item: center;
  }
  #home main section {
    display: block;
  }
  #home main section h1 {
    margin-top: 15rem;
    margin-bottom: 0;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 8rem;
    color: white;
  }
  #home main section h2 {
    margin-top: 0;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 6.5rem;
    color: #8ae7c3;
  }
  #home footer {
    background-color: #010630;
    color: white;
    padding-bottom: 1rem;
    padding-top: 1.5rem;
  }
  #home footer h2 {
    font-size: 1.1rem;
    text-align: center;
  }
  #cours {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
  }
  #cours header {
    height: 10vh;
    background: #010630;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  #cours header figure {
    display: grid;
    width: 6vw;
    height: 6vh;
    justify-content: left;
    align-item: left;
  }
  #cours header figure img {
    width: 6vw;
    height: 6vh;
  }
  #cours header nav {
    margin-top: 1rem;
    height: 10vh;
    justify-content: center;
    align-item: center;
    width: 80vw;
  }
  #cours header nav ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style-type: none;
  }
  #cours header nav ul li {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.2rem;
    color: white;
  }
  #cours header nav ul li a {
    text-decoration: none;
  }
  #cours header nav ul li a:visited {
    color: white;
  }
  #cours header nav ul li a:hover {
    text-decoration: underline;
  }
  #cours main section {
    padding-top: 3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-columns-gap: 1rem;
    grid-row-gap: 1rem;
  }
  #cours main section h2 {
    font-size: 3.2rem;
    font-family: "Roboto Condensed", sans-serif;
    color: #00398f;
    font-weight: 700;
    margin-bottom: 2rem;
  }
  #cours main section ul {
    grid-column: 1/2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;
  }
  #cours main section ul li article {
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-rows: 18vh 22vh 10vh;
    padding: 2rem 1rem;
    margin-bottom: 1rem;
  }
  #cours main section ul li article header {
    background: white;
    display: block;
  }
  #cours main section ul li article header h3 {
    font-size: 2.5rem;
    color: #0166ff;
    text-align: center;
    font-family: "Roboto Condensed", sans-serif;
  }
  #cours main section ul li article header ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    text-align: center;
    padding: 1rem;
  }
  #cours main section ul li article header ul li {
    border-radius: 25px;
    background-color: #f0f0f0;
    color: #00398f;
    font-weight: 300;
    padding: 1rem 0;
  }
  #cours main section ul li article header ul li span {
    color: #00398f;
  }
}
@media (max-width: 768px) {
  #home {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: linear-gradient(rgba(14, 66, 143, 0.7), rgba(37, 115, 234, 0.7), rgba(14, 66, 143, 0.7)), url("https://res03.sites.3wa.io/assets/files/inte/j9/assets/img/code-portrait.jpg");
  }
  #home header {
    height: 10vh;
    background: rgba(0, 0, 0, 0.3);
    display: grid;
    grid-template-rows: repeat(2, 1fr);
  }
  #home header figure {
    margin: 0;
    padding-top: 0;
    justify-content: center;
    align-item: center;
    display: grid;
    height: 3vh;
  }
  #home header figure img {
    padding: 0;
    width: 10vw;
    height: 5vh;
  }
  #home header nav {
    width: 100vw;
  }
  #home header nav ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style-type: none;
  }
  #home header nav ul li {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.8rem;
    color: white;
  }
  #home header nav ul li a {
    text-decoration: none;
  }
  #home header nav ul li a:visited {
    color: white;
  }
  #home header nav ul li a:hover {
    text-decoration: underline;
  }
  #home main {
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-item: center;
  }
  #home main section {
    padding-left: 3rem;
  }
  #home main section h1 {
    margin-top: 15rem;
    margin-bottom: 0;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 4rem;
    color: white;
  }
  #home main section h2 {
    margin-top: 0;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 3.5rem;
    color: #8ae7c3;
  }
  #home footer {
    background-color: #010630;
    color: white;
    padding-bottom: 1rem;
    padding-top: 1.5rem;
  }
  #home footer h2 {
    font-size: 1.1rem;
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
