.invi{
        display: none;
    }

@media (min-width: 769px){
    
    
    #home{
        font-family: 'Montserrat', sans-serif;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
	    background: linear-gradient(rgba(14, 66, 143, 0.7), rgba(37, 115, 234, 0.7), rgba(14, 66, 143, 0.7)), url("../../../assets/img/code.jpeg");
        
        header{
            
            height: 10vh;
            background: rgba(0, 0, 0, 0.3);
            display: grid;
            grid-template-columns: 1fr 1fr;
            
            figure{
                display: grid;
                width: 6vw;
                height: 6vh;
                justify-content: left;
                align-item: left;
                
                img{
                    width: 6vw;
                    height: 6vh;
                }
            }
                
            nav{
                margin-top: 1rem;
                height: 10vh;
                justify-content: center;
                align-item: center;
                width: 80vw;
                
                ul{
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    list-style-type: none;
                    
                    li{
                        text-transform: uppercase;
                        font-weight: 500;
                        font-size: 1.2rem;
                        color: white;
                        
                        a{
                            text-decoration: none;
                        }
                        
                        a:visited{
                            color: white;
                        }
                        
                        a:hover{
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
        
        main {
            min-height: calc(100vh - 10vh);
            display: flex;
            justify-content: center;
            align-item: center;
            
            section{
                display: block;
                
                h1{
                    margin-top: 15rem;
                    margin-bottom: 0;
                    font-family: 'Roboto Condensed', sans-serif;
                    font-size: 8rem;
                    color: white;
                }
                
                h2{
                    margin-top: 0;
                    font-family: 'Roboto Condensed', sans-serif;
                    font-size: 6.5rem;
                    color: #8ae7c3;
                }
            }
        }
        
        footer{
            background-color: #010630;
            color: white;
            padding-bottom: 1rem;
            padding-top: 1.5rem;
            
            h2{
                font-size: 1.1rem;
                text-align: center;
            }
        }
    }
}

@media (max-width: 768px){
    
    #home{
        font-family: 'Montserrat', sans-serif;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
	    background: linear-gradient(rgba(14, 66, 143, 0.7), rgba(37, 115, 234, 0.7), rgba(14, 66, 143, 0.7)), url("https://res03.sites.3wa.io/assets/files/inte/j9/assets/img/code-portrait.jpg");
	    
	    header{
	        height: 10vh;
            background: rgba(0, 0, 0, 0.3);
            display: grid;
            grid-template-rows: repeat(2, 1fr);
            
            
            figure{
                margin: 0;
                padding-top: 0;
                justify-content: center;
                align-item: center;
                display: grid;
                height: 3vh;
                
                
                img{
                    padding: 0;
                    width: 10vw;
                    height: 5vh;
                }
            }
            
            nav {
                
                width: 100vw;
                
                ul{
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    list-style-type: none;
                    
                    li{
                        text-transform: uppercase;
                        font-weight: 500;
                        font-size: 0.8rem;
                        color: white;
                        
                        a{
                            text-decoration: none;
                        }
                        
                        a:visited{
                            color: white;
                        }
                        
                        a:hover{
                            text-decoration: underline;
                        }
                    }
                }
                
            }
	    }
	    
	    main {
	        min-height: calc(100vh - 10vh);
            display: flex;
            justify-content: center;
            align-item: center;
            
            
            section{
                padding-left: 3rem;
                
                
                h1{
                    margin-top: 15rem;
                    margin-bottom: 0;
                    font-family: 'Roboto Condensed', sans-serif;
                    font-size: 4rem;
                    color: white;
                    
                }
                
                h2{
                    margin-top: 0;
                    font-family: 'Roboto Condensed', sans-serif;
                    font-size: 3.5rem;
                    color: #8ae7c3;
                }
            }
	    }
	    
	    footer{
	        background-color: #010630;
            color: white;
            padding-bottom: 1rem;
            padding-top: 1.5rem;
            
            h2{
                font-size: 1.1rem;
                text-align: center;
            } 
	    }
	    
    }
}